<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example">

    <!--This is required in order to be able to programmatically disable animations when running espresso Tests.-->
    <!--Unfortunately we also need to grant the permission through ADB (check grant_animation_permission.gradle)-->
    <uses-permission android:name="android.permission.SET_ANIMATION_SCALE" />

</manifest>
